<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>what the hell</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>



</head>
<body ng-app = "ngPrograms" ng-controller="ProgramController">
  <div class="container">
      <form class="col-md-8" ng-submit = "createProgram()">
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Program Name " ng-model="programData.programName ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Minimum Cost " ng-model="programData.minCost ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Maximum Cost " ng-model="programData.maxCost ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Certification Granted " ng-model="programData.certificate ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" timeline " ng-model="programData.timeline ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" meals provided " ng-model="programData.meals ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" University Affiliation " ng-model="programData.affiliation ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Other program benefits " ng-model="programData.otherBenefits ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Minimum Age " ng-model="programData.minAge ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Maximum Age " ng-model="programData.maxAge ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Past Successes " ng-model="programData.pastSuccess ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" Past participants " ng-model="programData.pastParticipants ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" How get word out " ng-model="programData.wordOut ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" How funded " ng-model="programData.funded ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" impediments " ng-model="programData.impediments ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" number of participants " ng-model="programData.numParticipants ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" description " ng-model="programData.description ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" program url " ng-model="programData.programUrl ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" location " ng-model="programData.location ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" other comments " ng-model="programData.otherComments ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" partners " ng-model="programData.partners ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" scolarships " ng-model="programData.scholarships ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" parents involved " ng-model="programData.parentsInvolved ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" how to measure success " ng-model="programData.measureSuccess ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" NCFL funded? " ng-model="programData.NCFLFunded ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" bring day one " ng-model="programData.bringDayOne ">
          </div>
          <div class="form-group well">
              <input type="text" class="form-control" placeholder=" in person " ng-model="programData.inPerson ">
          </div>

          <button class="btn btn-primary" type="submit">Submit Program</button>

          <button class="btn btn-success" type="button" ng-click="getProgram()">Get Program</button>

      </form>
  </div>



  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <!-- AppJS -->
  <script src="js/app.js"></script>

  <script src="js/postgetroutes
.js"></script>
</body>
</html>
